
@import url('https://fonts.googleapis.com/css2?family=Farsan&family=Sansita+Swashed:wght@300&display=swap');


:root {
    --color-primary :brown;
    --color-main: brown;
    --color-header:rgb(207, 177, 177);
    --color-white:white;
    --color-black:black;
    --color-light:rgb(211, 210, 210);
    --color-hover: rgb(202, 200, 200);
}
*{
    font-family: 'Farsan', cursive;
}

.headerContainer{
    background-image : linear-gradient(rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.548), brown), url('../image/Emilance Portfolio.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 1s ease;
    
}

.emmyimg {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    transition: 1s ease;
    border:5px solid var(--color-primary);
}
.emmyimg:hover{
    width: 12.8rem;
    height:12.8rem;
}
.Emilanceimage{
    position: absolute; 
    right:20%;
    z-index: 5;
}

.titleContainer{
    margin-right: 30%;
    color: var(--color-light);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
.title{
    font-size: 4rem;
    color: var(--color-light);
    font-family: 'Farsan', cursive;

    
}
.subTitle{
    font-size:1.5rem ;
    font-family: 'Farsan', cursive;

}

.blinking-cursor:after{
    content: '|';
    animation: blink 0.5s  step-start   infinite;
}

@keyframes blink {
    40% {opacity: 0;

    }
}

/*--------about section------ */
.aboutContainer {
    padding :5%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}

.sectiontitle{
    text-align: center;
    font-size:3rem;
   color:var(--color-header);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-bottom: 2px solid var(--color-primary);
}

.aboutme {
    color:var(--color-header);
    text-align: center;
    font-size: 2rem;
    font-family: 'Farsan', cursive;
}
.skillAndInfo{
    height: 25rem;
    
    display: flex;
    margin-top: 30px;
}


.info{
    font-size: 1.2rem;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     flex:1;
     margin-top: 5rem;
}

.info > p {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     display: flex;
     width: 100%;
     
     
}

.info > p > span {
    color:var(--color-main);
    margin-left: 1rem;
    font-size: 1.5rem;
}
.skill{
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler,  sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:1;
}
.skill > h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid var(--color-header);
    padding:0 40px
}
.progress {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.progressBar{
    width :20rem;
    height:1.3rem;
    background-color: var(--color-header);

}
.html,.css, .javascript, .bootstrap, .react, .php{
    height:1.3rem;
    background-color: var(--color-primary);
    animation:progress 7s  linear  infinite;
    animation-delay: 2s;
}
@keyframes progress {
    10% {
        width:10%
    }

    50% {
        width:50%
    }
    60% {
        width:60%
    }
    70% {
        width:70%
    }
    

}

.html, .css{
    width: 90%;
}
.javascript{
    width: 79%;
}
.bootstrap{
    width: 90%;
}
.react{
    width: 70%;
}
.php{
    width: 60%;
}

.aicon{
    padding-right: 10px;
}

 .btn,  .about-btn-container> a {
     margin:5px  10px;
     width: 13rem;
     height:2rem;
     cursor: pointer;
     background-color: transparent;
    
    font-size: 1rem;
    border-radius: 7px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }

 
.about-btn-container > a , .btn{
     text-decoration: none;
     color:inherit;
     width: 13rem;
 }
 .btn{
         border: 1px dotted white;

 }
 .btn:hover{
    color:var(--color-black);
    background-color: var(--color-hover);
    border: 3px dotted var(--color-primary);

 }

 .about-btn-container{
     margin-top: 3rem;
 }




/* --- Sevices section ---*/
.sServiceContainer {
    height: auto;
    box-shadow:7px 5px 15px  var(--color-primary)  ;
    width:30%;
    margin:1rem;
    display: flex;
    flex-direction: column;
    transition: 0.5s all ease;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

.sServiceContainer:hover{
    width:31%;
    transform: scale(1.04);

}

.serviceDisplayArea{
    /* border:5px solid var(--color-main); */
    flex: 1;
    border-radius: 2rem;

}
.serviceimg{
    width:100%;
    height: 100%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom: 2px solid var(--color-primary);

}

.aboutService{
    flex:1.2;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.sServiceTitle{
    text-align: center;
    font-size: 1.3rem;
    color: var(--color-main);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sServiceSubtitle{
    text-align: center;
    font-size: 1.3rem;
    padding: 0 4px 0px 4px;
}
.sbtn{
    margin-bottom: 1rem;
    border: 2px dotted white;
    width: 65%;
}
.sbtn, .sbtn>a{
    color:var(--color-white);
    font-size: 0.8rem;
   background-color: transparent;
   padding: 1rem;
    border-radius: 7px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.sbtn:hover  {
    color:var(--color-black);
    background-color: var(--color-hover);
    border: 3px dotted var(--color-primary);

}
.sbtn > a{
    text-decoration: none;
    color:inherit;
    width:100%;

    
}

.sServiceIcon {
    color: var(--color-main);
    padding:0 0 0 5px;
    user-select: none;

}
.allservicecontainer{
    display: flex;
    flex-direction: row;

}


/*------- portfolio section ----- */
 .port{
    margin-bottom: 0;
    padding-bottom: 0;
    
}
.portspace{
     margin-bottom: 0;
     margin-top: 5rem;
     transition: 1s;
}

.port-btn-container {
    display: flex;
    margin: 0rem 5rem 3rem 5rem;
    justify-content: center;
    align-items: center;
    width:80%;
    
}

.btn1{
   width: 100%;
   height:2.2rem;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   font-size:0.8rem ;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   color: var(--color-light);
   background-color: transparent;
   border: 1px dotted var(--color-white);
   cursor: pointer;

}
.btn1:hover{
    color:var(--color-black);
    background-color: var(--color-header);
}
.btn1active{
    width: 100%;
    height:2.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size:0.8rem ;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:var(--color-header);
    cursor: pointer;
    background-color:var(--color-primary);
 }
.portbtnicon{
margin-left: 0.5rem;

}
.portfolioContainer{
height:50rem;
margin:0 5px 10px 5px;
position: relative;
padding-top: 0;
transition: 1s;

}

.slider{
    position:absolute;
    margin-left: 3rem;
}

.slider > img {
    width:50% ;
    height: 20rem;
    margin: 1.5rem;
    box-shadow: 5px 5px 10px black;
}

.aboutport{
    width:70vw;
 
}
.aboutport > h3{
    font-size: 1.5rem;
    text-align: center;
    border:1px solid black;
    padding: 2rem 0;
    margin: 0;
}
.aboutport > p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:1rem;


}

.active {
  opacity:1;
  transition-duration: 1s;
  transform: scale(1.04);
}

.slide{
    opacity:0;
    transition-duration: 1s ease;
}

.leftarrow {
    position: absolute;
    top:50%;
    left:1rem;
    z-index: 100;
    user-select: none;
}

.rightarrow{
    position: absolute;
    top:50%;
    right:5%;
    z-index:100;
    user-select: none;
    cursor: pointer;
}
.rightarrow:hover, .leftarrow:hover{
    top:51%;
    size: 40px;
}

.fakeclass{
    text-align: center;
    margin:4rem;
    font-size: 2rem;
    animation: colorchange 1s  linear  infinite  ;
}

@keyframes colorchange{
    10% {
        color:red;
    }
    30% {
        color:var(--color-header);
    }
    50% {
        color:var(--color-main);
    }
   70% {
        color:var(--color-primary);
    }
    100% {
        color:var(--color-light);
    }

}
.portUButtonContainer{
    display: flex;
    justify-content: center;
    margin:0.5;

}
.portUButtonContainer > a{
    height: 4rem;
    width: 100%;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-header);
    border: 3px dotted var(--color-white);

}


   


.portUButtonContainer > .livebtn{
    background-color: var(--color-header);
    color:var(--color-black);
}

 .portUButtonContainer> a:hover{
    background-color:var(--color-primary);
    box-shadow:5px 5px 5px  var(--color-header) ;
}



/*-----Contact secion ------*/
.contactcontainer{
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contactBook{
    height: auto;
    /* box-shadow:15px 10px 20px  var(--color-header)  ; */
    width:70vw;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding-bottom: 0.3rem;
   /* animation:boxshadow 3s  linear  infinite; */
}

@keyframes boxshadow {
    10% {
        box-shadow:14px 10px 20px  var(--color-header)  ;
    }
    30%{
        box-shadow:18px 10px 25px  var(--color-header)  ;
    }
    60%{
        box-shadow:20px 10px 20px  var(--color-header)  ;
    }
    90%{
        box-shadow:25px 10px 30px  var(--color-header)  ;
    }
    
}

.ContactInfo{
    flex:1;
    margin-top: 1.8rem;
    border-right: 3px groove var(--color-primary);

}
.cicon{
    margin-right: 10px;
}
.ContactInfo > p {
    margin:2rem;
    font-size: 1.25rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.socialIcon{
    margin:3rem 3rem 1rem 0rem;
    
    border-radius: 1rem;
    box-shadow:10px 5px 15px  var(--color-primary)  ;
    display: flex;
    

}

.socialIcon > a {
    text-decoration: none;
    color:var(--color-header);
}

/*.socialIcon > a >.whatsapp{
      color: green;
}
 .twitter{
    color:rgb(0, 183, 255);
}
.instagram{
    color:rgb(172, 4, 135);
}
.facebook{
    color: rgb(38, 8, 207) 
}*/

.icon {
       margin: 1rem;
}


.contactButton{
    margin-left: 2rem;
    width:14rem;
    color:var(--color-white);
    background-color: var(--color-primary);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.contactButton:hover{
   background-color: var(--color-light);
   color: var(--color-header);

}

.contactButton> a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:inherit;
    background-color: inherit;
    height: 1.6rem;
    font-size: 1rem;
    font-weight: 500;

    
}
.Ficon{
    margin-left: 10px;
    color:green;
}

.ContactForm{
    flex:1;
  
}
.ContactForm > form{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 2rem;
   
}
.ContactForm > form >h4{
    font-size: 1.1rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.ContactForm > form >.forminput{
      height: 3.2rem;
      margin:0.5rem;
      display: flex;
      flex-direction: column;
}
.forminput  >input {
    height:1.4rem;
    width:70%;
    border:none;
    color:var(--color-white);
    background-color: transparent;
    border-bottom:3px outset var(--color-header);
    }
.forminput  >input:focus{
    font-size: 1rem;
    outline:none;
    border-bottom:5px outset var(--color-primary);
}
.forminput >label, .textarea > label{
    font-size: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}
.textarea{
    height:5rem;
    margin: 0.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
   
}
.textarea > textarea{
    height:100px;
    width: 70%;
    margin-bottom: 0.5rem;
    border: none;
    color:var(--color-white);
    background-color: transparent;
    border-bottom:1px outset var(--color-header);

    
}

.textarea > textarea:focus{
    outline: none;
    border-bottom:5px outset var(--color-primary);

}

form> .submit{
  width:40%;
  height:2rem;
  border-radius: 1rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 400;
}

form> .submit:hover{
    color:var(--color-white);
    background-color: var(--color-primary);
   }



/*---------footer----*/
.footer{
    display: flex;
    flex-direction: column;
    height:12rem;
    width:100%;
    margin-top: 2rem;
    border-bottom-left-radius:15px;
    border-bottom-right-radius: 15px;
    background-color: var(--color-primary);
}
.footertop{
    flex:4;
}

.footerbottom{
    flex:1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
}

.footerbottom >h3 >a{
   text-decoration: none;
   color: var(--color-header);
   display: flex;
   align-items: center;
   justify-content: center;
}
.footerbottom >h3 >a:hover, .github:hover{
    color:var(--color-light);
}
.footerbottom> p{
    color: var(--color-light);
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    animation:movingcolor1 6s  linear  infinite;

}

.footerbottom> p>span{
    color:var(--color-header);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    animation:movingcolor 6s  linear  infinite;

    
}
@keyframes movingcolor {
    10% {
        color:var(--color-header);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    30%{
        color:var(--color-light);
        font-family:'Times New Roman', Times, serif;
        
    }
    60%{
        color:var(--color-header);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    80%{
        color:var(--color-light);
        font-family:'Times New Roman', Times, serif;

        
    }
    100%{
        color:var(--color-header);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}

@keyframes movingcolor1 {
    10% {
        color:var(--color-light);
        font-family:'Times New Roman', Times, serif;

    }
    30%{
        color:var(--color-header);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    60%{
        color:var(--color-light);
        font-family:'Times New Roman', Times, serif;

    }
    80%{
        color:var(--color-header);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    100%{
        color:var(--color-light);
        font-family:'Times New Roman', Times, serif;

    }
}


.LsocialIcon{
    margin:.5rem;
    display: flex;
    margin-left: 2rem;
    

}
.Licon {
    margin:0.5rem;
   color:var(--color-header);
}

































@media (min-width: 1000px){
   
    
    .slider > img {
        width:30rem ;
        height: 30rem;
        margin: 1.5rem;
    }
    .rightarrow{
       
        right:10%;
        
    }
    .btn1 {
        height: 3rem;
    }
    .btn1:hover{
        height: 2.5rem;
    }
}

@media (max-width: 800px){
    .titleContainer{
        margin-right: 10%;
        margin-left: 3%;
    }
    .Emilanceimage{
        right:20%;
        z-index: 5;
    }
    .about-btn-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    
      .btn{
        width:70%;
        margin:1rem
    }
    .about-btn-container> a{
        margin:1rem;
        width:100%;
    }
    
    
}
@media (max-width:700px) {
    .footerbottom{
        flex-direction: column;
    }
    
}

@media (max-width: 900px){
    .titleContainer{
        margin-right: 10%;
        margin-left: 3%;
        width: 100%;
    }
    .Emilanceimage{
        position: relative; 
        right:5px;
        z-index: 5;
    }
    .aboutme{
        font-size: 1.4rem;
    }

    .skillAndInfo{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        height:123vh;
    }
    .info {
        margin-top: 0;
        display: flex;
        align-items: center;
        font-weight: 400;
        width: 100%;
        margin: 4rem;
      
           
        
    }
    .about-btn-container{
        display: flex;
        
    }
    .contactBook{
        display: flex;
        flex-direction: column;
        height: 100%;

    
        
    }
    .ContactInfo{
        border:none;
    }
    .contactcontainer{
        height: 75rem;
        justify-content: flex-start;
        
    }
    .ContactForm > form {
    padding-left: 2rem;
    margin-top: 1rem;
   
    
    }
    
}

@media (max-width:640px) {
    .allservicecontainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .sServiceContainer{
        width:80%;
        padding-bottom: 1.5rem;
    }
    .sServiceContainer:hover{
        width:82%;
        transform: scale(1.04);

    }
}
@media (max-width: 600px){
    .headerContainer{
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        position: relative;
        align-items: center;
        z-index: 5;
    }
    .contactcontainer{
        height: 78rem;
    }
    .titleContainer{
       
        text-align: center;
        z-index: 5;
    }
     .Emilanceimage{
         z-index: 5;
     }
     .emmyimg{
         width:13rem;
         height: 13rem;
     } 
     .about-btn-container{
        margin-top: 3.5rem;
    }
    .allservicecontainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .sServiceContainer{
        width:80%;
        padding-bottom: 1.5rem;
    }
    .sServiceContainer:hover{
        width:82%;
        transform: scale(1.04);

    }
    
    .port-btn-container{
        width:90%;
        margin: 0 1.15rem 0 1.15rem;
    }
    .slider > img {
        width:60vw;
        margin-top: 2.5rem;
        height: 20rem;
    }
    .contactBook{
        width:90%;
      
    }
    .ContactInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
        padding-left: 0;
     
    }

    .ContactInfo > p{
        width: 90%;
        text-align: center;
        font-size: 1.1rem;
    }
    .socialIcon{
        margin: 3rem 0 2rem 0;
    }
    .contactButton{
        margin-left: 0;
        width:80%;
    }
    .ContactInfo >p{
        font-size: 1.1rem;
    }
    .footerbottom{
        flex-direction: column;
    }
    
.info{
    font-size: 1rem;
    font-weight: 400;
    align-items: center;
    width: 100%;
    margin: auto;
    
   
}
.ContactForm > form >.forminput  .textarea{
    width:100%;
}
.forminput> input, .textarea>textarea {
    width:80%;
}
}
@media (max-width: 990px){
  .about-btn-container{
      margin-top: 6rem;
  }
  .titleContainer{
    margin-right: 10%;
    margin-left: 3%;
    width: 80%;
}
.Emilanceimage{
    position: relative; 
    right:3%;
    z-index: 5;
}
  
}